---
layout: home-template
---
{% include tag-cloud.html %}

{% for post in paginator.posts %}
<div class="animated fadeInLeft postPreview" style="animation-delay:{% if forloop.index != 1 %}{{ forloop.index | minus: 1 | divided_by: 3.0 }}{% endif %}s ">
      <a class="post-title" href="{{ post.url }}"> {{ post.title }} </a>
      {{ post.excerpt | truncate: 300 }}
      <div>
        <small>
          {{ post.date | date_to_string }} | Read time: {% include read-time.html content=content %} | Tags:
            {% for tag in post.tags %}
              <a href="/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </small>
      </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="next">Back</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
