<div class="profile-pic">
  <img class="animated fadeInLeft top-left-img" style="animation-delay:{{ 0 | divided_by: 3.0 }}s" src="/assets/img/pp-img-top-left.png" alt="">
  <img class="animated fadeInDown top-right-img" style="animation-delay:{{ 1 | divided_by: 3.0 }}s" src="/assets/img/pp-img-top-right.png" alt="">
  <img class="animated fadeInUp bottom-left-img" style="animation-delay:{{ 2 | divided_by: 3.0 }}s" src="/assets/img/pp-img-bottom-left.png" alt="">
  <img class="animated fadeInRight bottom-right-img" style="animation-delay:{{ 3 | divided_by: 3.0 }}s" src="/assets/img/pp-img-bottom-right.png" alt="">
</div>
