<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>meme</title>
    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/assets/mystyle.css">
    <link rel="stylesheet" href="animate.min.css">
    <link href="https://fonts.googleapis.com/css?family=Archivo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
  </head>
<body style="margin-bottom: 0px;">
<!-- centering main content -->
  <div class="parallax">
  </div>
  <div class="centered">
    <h1>Committed To Curiosity</h1>
  </div>
    <div class="contentPos">
      {% include header-template.html %}
      {{ content }}
    </div>

  <div class="parallax">
  </div>
<!--nav bar-->
    <div class="sidenav">
      {% for item in site.data.page-address.pages %}
          <a href="{{ item.path }}">{{ item.title }}<a/>
      {% endfor %}
    </div>
  </body>
</html>
