<!DOCTYPE html>
<link rel="stylesheet" href="/assets/main.css">
<link rel="stylesheet" href="/assets/mystyle.css">
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>meme</title>
  </head>
  <body>
<!-- centering main content -->
    <div class="contentPos">
      {% include header-template.html %}
      <div style="height: 100%">
        {{ content }}
      </div>
    </div>

<!--nav bar-->
    <div class="sidenav">
      {% for item in site.data.page-address.pages %}
          <a href="{{ item.path }}">{{ item.title }}<a/>
      {% endfor %}
    </div>
  </body>
</html>
